.navbar-default {
  background-color: #1693A5;
  border-color: #1693A5;
}
.navbar-default .navbar-brand {
  color: #C7EDE8;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #C7EDE8;
}
.navbar-default .navbar-text {
  color: #C7EDE8;
}
.navbar-default .navbar-nav > li > a {
  color: #C7EDE8;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #C7EDE8;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #C7EDE8;
  background-color: #45B5C4;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #C7EDE8;
  background-color: #1693A5;
}
.navbar-default .navbar-toggle {
  border-color: #1693A5;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1693A5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #C7EDE8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #C7EDE8;
}
.navbar-default .navbar-link {
  color: #C7EDE8;
}
.navbar-default .navbar-link:hover {
  color: #C7EDE8;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #45B5C4;
    color: #C7EDE8;
}

.jumbotron {
  background-image:url(../assets/img/cucumber.jpg) ;
}

.jumbotron h1 {
  text-shadow:0px 0px 10px #111;
  color: #C7EDE8;
}

.jumbotron p {
  text-shadow:0px 0px 10px #111;
  color: #C7EDE8;
}

.page-header {
  margin-top:0;
}

.panel-body {
  padding-top:0;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.featuredImg {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #C7EDE8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #C7EDE8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #C7EDE8;
    background-color: #1693A5;
  }
}